<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kristine.eventastic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".JavaClasses.FirebaseComponent"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".JavaClasses.AlertReceiver" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.EventsInCity"
            android:parentActivityName=".Activities.AllPossibleCities">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AllPossibleCities" />
        </activity>
        <activity
            android:name=".Activities.ParticipatingEvents"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Activities.AboutTheApp"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Activities.AddEvent"
            android:parentActivityName=".Activities.AllPossibleCities">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AllPossibleCities" />
        </activity>
        <activity
            android:name=".Activities.CalendarActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Activities.SettingsActivity"></activity>
        <activity
            android:name=".Activities.AllInformationsOfAParticipatingEvent"
            android:parentActivityName=".Activities.ParticipatingEvents">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ParticipatingEvents" />
        </activity>
        <activity
            android:name=".Activities.AllInformationsOfAnEvent"
            android:parentActivityName=".Activities.EventsInCity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.EventsInCity" />
        </activity>
        <activity
            android:name=".Activities.AllPossibleCities"
            android:parentActivityName=".Activities.AllEvents">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AllEvents" />
        </activity>
        <activity
            android:name=".Activities.AllEvents"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Activities.EventNearLocation"
            android:parentActivityName=".Activities.AllEvents">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AllEvents"/>
        </activity>
    </application>

</manifest>